@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
    --standard-gradient: linear-gradient(to right, #ff5722, #ff9800) 1;
}

body {
    font-family: "JetBrains Mono", "Google Sans Code", monospace;
}

.important {
    font-weight: bold;
    color: #ff5722; /* Example color */

    justify-self: center;
    align-self: center;
}

.container {
    display: grid;

    grid-template-columns: 1fr 4fr 4fr 4fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.header {
    grid-column: 3/3;

    align-items: center;
    justify-items: center;
    text-align: center;

    border-radius: 20px;
    border-width: 5px;
    border-style: solid;
    border-color: darkgray;
    border-image: var(--standard-gradient)
}

footer {
    grid-column: 3/3;
    grid-row: 9/9;
}